
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');


:root { /* the root file indicates the  root of the html dom in this case html*/

  /**
  this are just a varibles to store the values of the css in a varible 
  they dont take effect unless called up on 
   * colors
   */

  /* gradient */

  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right, 
    hsl(45, 100%, 72%), 
    hsl(35, 100%, 68%)
  );

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: 'Poppins', sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}


:focus { outline-color: var(--orange-yellow-crayola); }

section {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    height: 400px;
}


main {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

.main-content {
  min-width: 75%;
  width: 75%;
  margin: 0;
}



  
.sidebar, article {
  width: 520px;
  margin-inline: auto;
  padding: 30px;
} 


.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.icon-box ion-icon { --ionicon-stroke-width: 35px; }

article { display: none; }

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}


.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
}


.sidebar {
  position: sticky;
  top: 60px;
  max-height: max-content;
  height: 100%;
  margin-bottom: 0;
  padding-top: 60px;
  z-index: 1;

  height: 95vh; /* Full height */
  background-color: #2c3e50; /* Dark background color */
  color: #ecf0f1; /* Light text color */
  flex-direction: column;  /* Aligns items vertically */
  border-radius: 10px 10px 10px 10px;


} 


.sidebar-info { flex-direction: column; }

.avatar-box img { width: 150px; }

.info-content .name {
  white-space: nowrap;
  text-align: center;
}

.info-content .title { margin: auto; }

.info_more-btn { display: none; }

.sidebar-info_more {
  opacity: 1;
  visibility: visible;
}

.contacts-list { grid-template-columns: 1fr; }

.contact-info :is(.contact-link) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-info :is(.contact-link, time, address) {
  --fs-7: 14px;
  font-weight: var(--fw-300);
}

.separator:last-of-type {
  margin: 15px 0;
  opacity: 0;
}

.social-list { justify-content: center; }



.spacer {
  align-self: flex-start;
  justify-self: flex-start;
  

}



.prfilepic{
  right:240px ; 
  top:120px; position: absolute;
  z-index: 8;  
  float: right; 
  height: 400px;
            
  mask-image: radial-gradient(circle, rgb(8, 7, 7) 0%, rgba(0, 0, 0, 0) 80%);    

  
  
}
#home {
  background-image: url('C:\Users\woldu\OneDrive\Desktop\portfolio using html and css only\profile.jpg'); /* Replace with your desired background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  
  color: #fff; /* White text color for better visibility on dark backgrounds */
}

  h1 {
    display: inline-block;
    overflow: hidden; /* Ensures text stays within the box */
    white-space: nowrap; /* Prevents text from wrapping */
    border-right: 3px solid black; /* Creates the cursor effect */
    font-size: 2rem;
    animation: typing 4s steps(30, end), blink 0.6s step-end infinite;
    animation-play-state: paused; /* Pause animation initially */
  }
  .name{
    margin-bottom: 15px;display: flex;
  }
  .name p{ 
    margin-left: 20px;
    position:static;
    color: red;margin-left: 20px;
  
    font-size: 25px;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 10%; }
  }


  @keyframes blink {
    50% { border-color: transparent; }
  }


.discription { 
  margin-top: 25px;
    text-align: justify;
    width: 600px;
    height: 200px;
    border: 10px solid #ffdf00;
    border-radius: 10px; 
    box-shadow: 0 0 20px #ffdf00, 0 0 40px #ffdf00, 0 0 80px #ffdf00;
    
    animation: glow 2s infinite ease-in-out;
    }
  
    
@keyframes glow {
    0% {
            box-shadow: 0 0 10px #ffdf00, 0 0 20px #ffdf00, 0 0 40px #ffdf00;
    }
    50% {
         box-shadow: 0 0 20px #ffdf00, 0 0 60px #ffdf00, 0 0 120px #ffdf00;
    }
    80% {
           box-shadow: 0 0 10px #ffdf00, 0 0 20px #ffdf00, 0 0 40px #ffdf00;
    }
    }
.horizontal-container{
    display:inline-flex;
    
}

.education{
  background-color: #333; /* Dark background color */
  mask-image: radial-gradient(circle, rgba(8, 7, 7, 0.922) 6%, rgb(0, 0, 0) 80%);    
  height: 500px;
}


.education_title{
  color: #f0f0f0;
  margin-left: 35px;
  animation: typing 4s steps(30, end), blink 0.6s step-end infinite;
  animation-play-state: paused; /* Pause animation initially */
}
.education_body{  
  margin-left: 100px;
  align-items: center;
  display: flex;
  gap: 50px;

}
.education_1{
  margin-left: 50px;
  
  position: relative;
  background: linear-gradient(90deg, rgba(104,104,185,0.891281512605042) 0%, rgba(84,64,218,1) 15%, rgba(50,54,200,1) 26%, rgba(23,49,162,1) 49%, rgba(42,21,162,0.9837184873949579) 100%);
  
  width: 400px;
  margin-top: 30px;
  margin-bottom: 100pX;
  text-align: center;
  border-radius: 15px;
  height: 300PX;
  transform-style: preserve-3d;
  transition: transform 1s;
  
}
.education_1:hover{
  transform: rotateY(180deg);
}
.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  
  border-radius: 10px;
}

.front {
  
  justify-content: center;
  align-items: center;
  background: rgba(203, 166, 166, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blurring the background */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Optional border for aesthetics */
}

.back {
  
  transform: rotateY(180deg);

  position: absolute;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  

}

.circle-image img{
  
  height:200px;
  width:500px;
}

.bdu-title {
  margin:0px;

}

.description-box{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex; /* Flexbox for centering content */
  flex-direction: column; /* Stack items vertically */
 
  
  align-items: start;

  /*justify-content: center; */ 
 
  background-color: #120f46;

}
.description-box p{

  margin-top: 20px;
  padding-left: 20px;
  font-size: large;

}

.golden-text {
  color: rgb(255, 215, 0);
  
  font-size: 15;
  letter-spacing: .15ch;
  line-height: 1.5;

}

/*styling for  the title*/
@layer demo {
  .highlighted-text-shadow {
    
    text-shadow:
      /* regular text-shadow */
      0 .15ch 15px var(--shadow),
      /* text-shadow highlight */
      0 -2px 0 var(--highlight);
  }
}

@layer demo.support {
  :root {
    --hue: 320; /* change me */
    --bg: oklch(35% .3 var(--hue));
    --text: oklch(85% .1 var(--hue));
    --shadow: oklch(25% .2 var(--hue));
    --highlight: oklch(98% .05 var(--hue));
  }
  
}

.outline{
  align-self: center;
  width: 92%;
  height: 88%;
  border-radius: 10px;
  border: 3px solid rgb(255, 226, 10);
  display: inline-block;
}

.horozontal{
  display: flex;
}


.duration{  
  display: flex;
  flex-direction: row;
  width: 150px;
  align-items: center;
  margin-top: -10px;
  
}
.bi-calendar{
  color: rgb(255, 226, 10);
  height: 20px;
  font-size: 20px;
  margin-left: auto;

}
.date_duration{

  margin-left: 10px;
  margin-right: 25px;
  justify-self:start;
  font-size: 20;
  color: rgb(255, 226, 10);

  
}
.study-field{
  justify-self: start;
  margin-left: 20px;
  font-family: "Anton SC", sans-serif;
  color: rgb(237, 214, 39);
  letter-spacing: 1px;
  border: #fff;
  transform: scaleY(1.5);
}