
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { /* the root file indicates the  root of the html dom in this case html*/

  /**
  this are just a varibles to store the values of the css in a varible 
  they dont take effect unless called up on 
   * colors
   */

  /* gradient */

  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right, 
    hsl(45, 100%, 72%), 
    hsl(35, 100%, 68%)
  );

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: "Poppins", sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}


:focus { outline-color: var(--orange-yellow-crayola); }


html { font-family: var(--ff-poppins); }

body { background: var(--smoky-black); }


section {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    height: max-content;
    border-radius: 15px;
    
}


main {
  margin-top: 60px;
  margin-bottom: 100px;

  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

.main-content {
  min-width: 80%;
 
  margin: 0;
  margin-top: -10px;
}



.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.icon-box ion-icon { --ionicon-stroke-width: 35px; }



@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}


.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
}

/* starting the side bar and inner elemnts */

.sidebar {

  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;

  width: 520px;
  
  margin-inline: auto;
  margin-bottom: 0;

  position: sticky;
  
  max-height: max-content;

  padding-top: 60px;
  color: #ecf0f1; /* Light text color */
  flex-direction: column;  /* Aligns items vertically */
  margin-top:-11px;
  margin-left: 45px;
} 


.sidebar-info { flex-direction: column; }
.avatar-box   {border-radius: 30px;}
.avatar-box img { width: 150px; border-radius: 20px;  }

.sidebar-info { 
  position: relative;
  display:  flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction:  column;
}

.info-content{
  justify-content: center;
  margin-right: 0px;
}
.info-content .name {
  font-family: var(--ff-poppins) ;
  white-space: nowrap;
  text-align: center;
  color: var(--white-2);
  font-weight: var(--fw-500);
  margin-bottom: 10px;
}

 
.info-content .title {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 7px 12px 12px 12px ;
  border-radius: 8px;
  justify-self: center;
}

.spacer {
  align-self: flex-start;
  justify-self: flex-start;

}


/* starting the buttons on the side bar  */

.sidebar-info_more {

  max-height: max-content;
 
  opacity: 1;
  visibility: visible;
  transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
}
 

/*side bar menus */

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}
.contact-item:hover .contact-title{
  cursor: pointer;
  
  font-size: 14px;
  
}

.contact-item:hover .icon-box{
  border-top-color: rgba(255, 255, 255, 0.8); /* White glow on top */
  border-left-color: rgba(255, 255, 255, 0.8); /* White glow on left */
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5); /* Glow effect */
  
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  
}
.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}


.icon-box.active{  
  border-top-color: rgba(255, 255, 255, 0.8); /* White glow on top */
  border-left-color: rgba(255, 255, 255, 0.8); /* White glow on left */
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5); /* Glow effect */


}


.contact-title {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
  transition: font-size 0.5s ease , color 0.5s ease;

}
.contact-title.active{
  color: #ecf0f1; 
  font-size: large;
  font-weight: 400;
}
  
.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

/*social media  icons */


.social-list li{

  color: #ecf0f1;
}
.social-list {
  margin-left: 15px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  
  align-items: center;
  gap: 15px;
  margin-top: 45px;
}

.social-item .social-link {
  color: var(--light-gray-70);
  font-size: 18px;
}


.social-item .social-link:hover { color: var(--light-gray); }

/*main body */

article { 
  display: none; 
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
 
}


/*ABOUT  me SECTION*/

.hi_text{
  font-size: 90px;
  font-weight: 600;
  margin: 0px;
}
.intro_about{
  padding: 1px;
}
.article-title{
  font-size: 50px;
  margin: -15px;
  align-self: center;
  
  margin-left: 10px;
}




.typingEffect {
  display: inline-block;
  overflow: hidden; /* Ensures text stays within the box */
  white-space: nowrap; /* Prevents text from wrapping */
  border-right: 3px solid black; /* Creates the cursor effect */
  font-size: 15px;
  animation: typing 10s steps(45, end), blink 0.6s step-end infinite;
  animation-play-state: paused; /* Pause animation initially */
}
  
  .name p{ 
    margin-left: 20px;
    position:static;
    color: red;margin-left: 20px;
    font-size: 25px;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 30%; }
  }


  @keyframes blink {
    50% { border-color: transparent; }
  }


.discription { 
    text-align: justify;
    padding: 15px;
    border: 15px solid #ffdf00;
    border-radius: 40px; 
    
    animation: glow 3s infinite ease-in-out;
    height: 140px;
    width: 70%;
    float: right;
    overflow: hidden;
    align-items: center;
    justify-content: center ;

    }

  .education-background{
    margin: 15px;
    font-size: 13px;
    
  }
  
    
@keyframes glow {
    0% {
            box-shadow: 0 0 10px #ffdf00, 0 0 20px #ffdf00, 0 0 20px #ffdf00;
    }
    50% {
         box-shadow: 0 0 20px #ffdf00, 0 0 30px #ffdf00, 0 0 60px #ffdf00;
    }
    80% {
           box-shadow: 0 0 10px #ffdf00, 0 0 20px #ffdf00, 0 0 4cap #ffdf00;
    }
    }
.horizontal-container{
    display:inline-flex;
    align-items: flex-end;
    justify-content: center ;
    
    
}

.service { margin-bottom: 35px; }

.service-title { margin-bottom: 20px; }

.service-list {
  display: grid; /* Use CSS Grid */
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Add spacing between grid items */
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.service-item {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;
  height: 5;
}

.service-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}



.service-icon-box { margin-bottom: 10px; }

.service-icon-box img { margin: auto; }

.service-content-box { text-align: center; }

.service-item-title { margin-bottom: 7px; }

.service-item-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  line-height: 1.6;
}


/**
 * #testimonials 
 */
  

.testimonials { margin-bottom: 30px; }

.testimonials-title { margin-bottom: 20px; }
 
.testimonials-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px 15px;
  padding-bottom: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}
 
.testimonials-item {
  min-width: 100%;
  scroll-snap-align: center;
}
ul{
  list-style-type: none; /* Removes the bullet points */
}
.testimonials-avatar-box {
  
  position:relative;
  width: 0px;
  top: 0;
  left: 0;
  transform: translate(15px, -25px);
  background: var(--bg-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadow-1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 5%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 0.8;
  visibility: visible;
  pointer-events: all;
}

.testimonials-modal {
  background: var(--eerie-black-2);
  position: relative;
  padding: 15px;
  margin: 15px 12px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  box-shadow: var(--shadow-5);
  transform: scale(1.2);
  opacity: 0;
  transition: var(--transition-1);
  z-index: 2;
}

.modal-container.active .testimonials-modal {
  transform: scale(1);
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--onyx);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-2);
  font-size: 18px;
  opacity: 0.7;
}

.modal-close-btn:hover,
.modal-close-btn:focus { opacity: 1; }

.modal-close-btn ion-icon { --ionicon-stroke-width: 50px; }

.modal-avatar-box {
  background: var(--bg-gradient-onyx);
  width: max-content;
  border-radius: 14px;
  margin-bottom: 15px;
  box-shadow: var(--shadow-2);
}

.modal-img-wrapper > img { display: none; }

.modal-title { margin-bottom: 4px; }

.modal-content time {
  font-size: var(--fs-6);
  color: var(--light-gray-70);
  font-weight: var(--fw-300);
  margin-bottom: 10px;
}

.modal-content p {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

/*education*/
.education{
  background-color: #333; /* Dark background color */
  mask-image: radial-gradient(circle, rgba(8, 7, 7, 0.922) 6%, rgb(0, 0, 0) 80%);    
  
}


.education_title{
  color: #f0f0f0;
  margin-left: 35px;
  font-size: 35px;
  animation: typing 4s steps(30, end), blink 0.6s step-end infinite;
  animation-play-state: paused; /* Pause animation initially */
}
.education_body{
  padding: 40px ;
  display: flex;
  gap: 65px;
  flex-direction: row;
  justify-content: center;
}

.education_1{
  
  background: linear-gradient(90deg, rgba(104,104,185,0.891281512605042) 0%, rgba(84,64,218,1) 15%, rgba(50,54,200,1) 26%, rgba(23,49,162,1) 49%, rgba(42,21,162,0.9837184873949579) 100%);
  height: 250px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 100pX;
  text-align: center;
  border-radius: 15px;
  
  transform-style: preserve-3d;
  transition: transform 1.5s;
  padding: 15px;
  
}
.education_1:hover{
  transform: rotateY(180deg);
}
.front, .back {
  width: 100%;
  height: 100%;
  position:fixed;
  backface-visibility: hidden;
  display: flex;
  
  border-radius: 10px;
}

.front {
  
  justify-content: center;
  align-items: center;
  background: rgba(203, 166, 166, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blurring the background */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Optional border for aesthetics */
}

.back {
  position: relative;
  transform: rotateY(180deg);
  overflow: visible;
  justify-content: center;
  border-radius: 10px;
  

}

.outline{
  flex-shrink: 0  ;
  top: 15px;
  left: 10px;

  height: 300px;
  width: 345px;

  position:fixed;
  border-radius: 10px;
  background: rgba(53, 62, 79, 0.9); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blurring the background */
 

}

.circle-image img{
  
  height:200px;
  width:500px;
}

.bdu-title {
  margin:0px;

}

.description-box{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex; /* Flexbox for centering content */
  flex-direction: column; /* Stack items vertically */
 
  
  align-items: start; 
 
  background-color: #120f46;

}
.description-box p{

  margin-top: 20px;
  padding-left: 20px;
  font-size: large;

}

.golden-text {
  color: rgb(255, 215, 0);
  
  font-size: 15;
  letter-spacing: .15ch;
  line-height: 1.5;

}





/*styling for  the title*/
@layer demo {
  .highlighted-text-shadow {
    
    text-shadow:
      /* regular text-shadow */
      0 .15ch 15px var(--shadow),
      /* text-shadow highlight */
      0 -2px 0 var(--highlight);
  }
}

@layer demo.support {
  :root {
    --hue: 320; /* change me */
    --bg: oklch(35% .3 var(--hue));
    --text: oklch(85% .1 var(--hue));
    --shadow: oklch(25% .2 var(--hue));
    --highlight: oklch(98% .05 var(--hue));
  }
  
}

  
.horozontal{
  display: flex;
}


.duration{  
  display: flex;
  flex-direction: row;
  width: 150px;
  align-items: center;
  margin-top: -10px;
  margin-left:30px;
}
.bi-calendar{
  color: rgb(255, 226, 10);
  height: 20px;
  font-size: 20px;
  margin-left: auto;

}
.date_duration{

  margin-left: 10px;
  margin-right: 25px;
  bottom: 0;
  font-size: 20;
  color: rgb(255, 226, 10);

  
}
.study-field{
  justify-self: start;
  margin-left: 20px;
  font-family: "Anton SC", sans-serif;
  color: rgb(237, 214, 39);
  letter-spacing: 1px;
  border: #fff;
  transform: scaleY(1.5);
}
/*skills section */
.skills{
  display: flex;
  gap: 50px;
  padding: 20px;
  justify-content: center;

}
.skills-list{
  display: flex;
}


.hexagon {
  height: 100px; /* adjust to control the size  */
  width: 100px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: linear-gradient(135deg, hsla(254, 84%, 50%, 1) 0%, hsla(245, 48%, 42%, 1) 50%, hsla(251, 65%, 51%, 1) 75%, hsla(198, 80%, 36%, 1) 100%);
  
}
.hexagon img {
  align-self: center;
  height: auto;
  width: 100%;
  object-fit:fill;

}







































































































































